* {
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    height: 2986px;
    width: 1920px;
    background-color: #ffffff;
}

.menuTop {
    width: 100%;
    height: 46px;
    background-color: #222222;
    color: #525252;
    font-family: Myriad Pro;
}

.left {
    float: left;
}

.left p {
    margin: 12px 34px;
}

.right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.right p {
    margin: 12px 29px 9px 0px;
}

.menuTop i {
    font-size: 13px;
}

.menuBottom {
    width: 100%;
    height: 78px;
    display: flex;
    border-bottom: solid 1px #dddddd;
}

.logo {
    float: left;
}

.logo img {
    margin: 18px 15px;
}

.nav {
    display: flex;
    text-decoration: none;
}

.nav ul {
    display: flex;
    margin-left: 196px;
}

.nav li {
    list-style: none;
    margin: 25px 26px;
}

.nav li a {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.nav li i {
    font-size: 15px;
}

.cart {
    float: right;
    align-self: center;
    font-size: 25px;
}

.cart i {
    display: flex;
    float: right;
    align-content: space-between;
    margin: 1px 15px;
}

.mainContent .ad {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainContent .ad img {
    margin: 30px 15px 1px 15px;
}

.shopNow__banner_01 {
    background-color: #8262b5;
    text-transform: capitalize;
    width: 105px;
    height: 40px;
    position: relative;
    top: -195px;
    left: 566px;
}

.shopNow__banner_01 a {
    color: #ffffff;
    position: absolute;
    padding: 8px 15px;
}

.shopNow__banner_02 {
    background-color: #8262b5;
    text-transform: capitalize;
    width: 108px;
    height: 40px;
    position: relative;
    top: -153px;
    left: 56px;
    box-sizing: border-box;
}

.shopNow__banner_02 a {
    color: #ffffff;
    position: relative;
    top: 7px;
    left: 20px;
}

.Title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 2986px;
    z-index: 112;
}

.Line {
    background-color: rgb(130, 98, 181);
    position: absolute;
    left: 390px;
    top: 870px;
    width: 50px;
    height: 1px;
    z-index: 111;
}

.franco {
    font-size: 12px;
    color: rgb(130, 98, 181);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 7px;
    text-align: left;
    position: absolute;
    left: 388.762px;
    top: 792.3px;
    z-index: 110;
}

.Featured_items {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 4px;
    text-align: left;
    position: absolute;
    left: 388.144px;
    top: 818.1px;
    z-index: 109;
}

.Row_1 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 600px;
    z-index: 151;
}

._4 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 1268px;
    top: 163px;
    width: 262px;
    height: 323px;
    z-index: 143;
}

._3 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 975px;
    top: 163px;
    width: 262px;
    height: 323px;
    z-index: 134;
}

._2 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 683px;
    top: 163px;
    width: 262px;
    height: 323px;
    z-index: 124;
}

._1 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 390px;
    top: 163px;
    width: 262px;
    height: 323px;
    z-index: 115;
}

.Add_To_Cart {
    font-size: 13px;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
    line-height: 2.167;
    text-align: left;
    z-index: 120;
    position: absolute;
    top: 6px;
    left: 19px;
}

.BTN {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 118px;
    height: 40px;
    z-index: 119;
    left: 5px;
    top: 278px;
}

.name_of_product {
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute;
    left: 0.044px;
    top: 332.1px;
    z-index: 117;
    line-height: 27.9px;
    font-weight: bold;
}
.name_of_product i{
    font-size: 11px;
    letter-spacing: -3px;
}
#off{
    color: #d1d1d1;
}
#on{
    color: #f9c836;

}
.name_of_product #old{
    text-decoration: line-through;
    font-weight: 500;
    color: #a0a0a0;
}
.name_of_product #new{
    color: #8262b5;
}